@import "../seyed-modules/styles/index";

@import "animations";
@import "vertical-panel";
@import "button";
@import "validation-error";
@import "view-count";
@import "like-count";
@import "input";
@import "navbar";
@import "header";
@import "my-player";
@import "timeline";
@import "video-cart";
@import "movie-cart";
@import "game-cart";
@import "article-cart";
@import "login";
@import "movie-profile";
@import "comment";
@import "audio-cart";

@font-face {
  font-family: "my-font";
  src: url("../media/fonts/Estedad-FD-Regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "my-font-demibold";
  src: url("../media/fonts/Estedad-FD-SemiBold.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "my-font-bold";
  src: url("../media/fonts/Estedad-FD-Bold.woff2") format("woff2");
  font-display: swap;
}