.player {
  width: 100%;
  aspect-ratio: 16 / 9;
}

.video-container {
  position: relative;
  direction: ltr;
  width: 100%;
  border-radius: var(--third-radius);
  overflow: hidden;
  background-color: var(--solid-dark);
}

.my-player-video {
  cursor: pointer;
  aspect-ratio: 16 / 9;

  video {
    display: block;
  }
}

.video-volume-material {
  position: absolute;
  top: 0;
  inset-inline-end: 0;
  padding: 16px;
  border-radius: var(--forth-radius);
  cursor: pointer;
  transition: opacity ease 0.3s 0.1s;

  &.hide {
    opacity: 0;
    pointer-events: none;
  }
}

.video-volume {
  width: 24px;
  height: 24px;
  border-radius: 7px;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
}

.video-volume-icon {
  width: 14px;
  height: 14px;
}

.video-controls {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  padding: 16px 20px 32px 20px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7));
  cursor: pointer;
  transition: opacity ease 0.3s 0.1s;

  &.hide {
    opacity: 0;
    pointer-events: none;
  }
}

.video-progress {
  width: 100%;
  position: relative;
  height: 5px;
}

.seek {
  display: block;
  cursor: pointer;
  height: 100%;
  width: 100%;
  background-color: #F3F4F8;
  border-radius: var(--first-radius);

  &::-webkit-slider-thumb {
    opacity: 0;
  }

  &::-moz-range-thumb {
    opacity: 0;
  }
}

.seek-seen {
  position: absolute;
  pointer-events: none;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: linear-gradient(180deg, #8DA4FC 0%, #7691F8 100%);
  border-radius: var(--first-radius);

  &.loaded {
    transition: width ease 0.1s;
    background: rgba(0, 0, 0, 0.15);
  }
}

.seek-slider {
  display: none;
  pointer-events: none;
  position: absolute;
  left: 0;
  top: 2.5px;
  transform: translate(-7.5px, -50%);
  width: 15px;
  height: 15px;
  background: linear-gradient(180deg, #8DA4FC 0%, #7691F8 100%);
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.16);
  border-radius: 50%;
}

.playback-loading {
  pointer-events: none;
  position: absolute;
  z-index: var(--default-z-index);
  top: calc(50% - 16px);
  left: calc(50% - 16px);
}

.playback-play {
  pointer-events: none;
  position: absolute;
  z-index: var(--default-z-index);
  top: calc(50% - 24px);
  left: calc(50% - 24px);
  width: 48px;
  height: 48px;
  background-color: var(--box-color);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), inset 0px -5px 5px rgba(60, 40, 104, 0.1);
  border-radius: var(--second-radius);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity ease 0.3s 0.1s;

  &.hide {
    opacity: 0;
  }
}

.playback-play-icon {
  width: 40%;
  height: 40%;
}

.player-time {
  margin-top: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--solid-light);
  user-select: none;
}