.navbar {
  position: fixed;
  bottom: -1px;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-back {
  width: 100%;
  display: block;
}

.navbar-content {
  display: flex;
  justify-content: space-around;
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  right: 0;
}

.navbar-content-item {
  height: calc(var(--full-viewport) / 5.6);
  width: calc(var(--full-viewport) / 5.6);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  flex-direction: column;
  cursor: pointer;

  &.home-icon {
    margin-top: calc(-1 * var(--full-viewport) / 5.6 * 0.25);
    height: calc(var(--full-viewport) / 5);
    width: calc(var(--full-viewport) / 5);
  }
}

.navbar-content-item-icon {
  min-height: 40%;
  height: 40%;
  fill: var(--solid-light);
  font-size: var(--small-font);

  path {
    fill: var(--solid-light);
    transition: fill var(--transition-method) 0.5s;
  }

  .home-icon-circle {
    fill: var(--first-color);
    transition: fill var(--transition-method) 0.5s;
  }

  &.active {
    path {
      fill: var(--second-color);
    }
  }

  &.home-icon {
    min-height: 68%;
    height: 68%;
    margin-bottom: 2px;

    &.active {
      path {
        fill: var(--solid-light);
      }

      .home-icon-circle {
        fill: var(--second-color);
      }
    }
  }
}

.navbar-content-item-title {
  overflow: hidden;
  font-family: "my-font-demibold", serif;
  color: var(--first-sub-color);
  margin-top: 2px;
  height: 23px;
  transition: height var(--first-transition), margin-top var(--first-transition), opacity var(--first-transition);

  &.hide {
    height: 0;
    margin-top: 0;
    opacity: 0;
  }
}