.timeline {
  padding: calc(var(--header-height) + var(--mobile-second-solid-padding)) var(--mobile-second-solid-padding) calc(var(--nav-height) + var(--mobile-second-solid-padding));
  background-image: url("../media/images/background.png");
  background-size: 100%;
  min-height: var(--full-height);
  background-color: var(--first-background-color);
  display: flex;
  flex-direction: column;
  gap: var(--mobile-second-solid-padding);
}