.video-cart {
  background-color: var(--box-color);
  border-radius: var(--forth-radius);
  box-shadow: 0 4px 11px rgba(60, 40, 104, 0.1), inset 0px -4px 11px rgba(60, 40, 104, 0.05);
  padding: 16px;
  position: relative;
}

.video-cart-view {
  top: 32px;
  inset-inline-end: 32px;
}

.video-cart-content {
  margin-top: 16px;
  display: flex;
  align-items: flex-start;
}

.video-cart-content-icon {
  min-width: 24px;
  width: 24px;
  height: 24px;
  margin-inline-end: 8px;
  background-color: transparent;
}

.video-cart-content-title {
  flex-grow: 1;
  font-family: "my-font-demibold", serif;
  font-size: var(--title-font);
}