.view-count {
  height: 24px;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  border-radius: var(--first-radius);
  color: var(--solid-light);
  font-size: var(--small-font);
  font-family: "my-font-demibold", serif;
  padding: 3px 7px;
}

.view-count-icon {
  width: 14px;
  height: 14px;
  margin-inline-start: 4px;
}